body {
  background-color: red;
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  text-align: center;
  border: 1px solid black;
  margin: 10px;


}

.top-of-page {
  
}

h4 {
  font-size: small;
}

.block-buttons {
  display: flex;
  flex-direction: column;

  
}

.btn {
  margin: 15px;
}


.section {
  width: 400px;
  text-align: center;
}

img {
  width: 100px;
  border-radius: 50%; 
  margin-top: 5px;
}
