body {
  background-color: blueviolet;
}

.top-of-page {
  text-align: center;
  width: 400px;
}

.block-buttons {
  display: flex;
  width: 400px;
  flex-direction: column;
  margin: 25px 50px;
}

.btn {
  margin: 15px;
}


.info {
}

.section {
  width: 400px;
  text-align: center;
}
